repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.9
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format
- repo: https://github.com/astral-sh/uv-pre-commit
  # uv version.
  rev: 0.9.25
  hooks:
    - id: uv-lock
      name: "Update dependency lockfile (uv.lock)"
    - id: uv-export
      name: "Export prod requirements (requirements.txt)"
      args: ["--frozen", --no-dev, "--output-file=requirements.txt", "--quiet"]
    - id: uv-sync
      name: "Sync Python dependencies"
      stages:
        - pre-commit
        - post-checkout
        - post-merge
        - post-rewrite
- repo: https://github.com/tsvikas/sync-with-uv
  rev: v0.5.0
  hooks:
    - id: sync-with-uv
      name: "Sync pre-commit versions with uv"